@model bankingMVCApp_EF.Models.EF.TransactionInfo

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TransactionInfo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TrFromAccount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TrFromAccount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TrToAccount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TrToAccount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TrAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TrAmount)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.TrId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
